<dx-data-grid
  id="gridContainer"
  [dataSource]="notasFiscais"
  keyExpr="id"
  [showBorders]="true"
  (onSaved)="onSaved($event)"
>
  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
  >
    <dxo-popup
      title="Nota Fiscal"
      [showTitle]="true"
      [width]="900"
      [height]="525"
    >
    </dxo-popup>
    <dxo-form [colCount]="3">
      <dxi-item itemType="group" [colCount]="3" [colSpan]="3">
        <dxi-item dataField="numeroNota"></dxi-item>
        <dxi-item dataField="dataNota" ></dxi-item>
        <dxi-item dataField="cliente.nome"></dxi-item>
      </dxi-item>
      <dxi-item dataField="itensNota" [colSpan]="3"></dxi-item>
    </dxo-form>

  </dxo-editing>

  <dxi-column dataField="numeroNota" caption="Número" [width]="90"></dxi-column>
  <dxi-column dataField="dataNota" dataType="date" caption="Data Nota"></dxi-column>
  <dxi-column dataField="cliente" caption="Cliente" cellTemplate="clienteCellTemplate" editCellTemplate="clienteEditCellTemplate">
    <div *dxTemplate="let data of 'clienteCellTemplate'">{{data.value.nome}}</div>
    <div *dxTemplate="let data of 'clienteEditCellTemplate'">
      <dx-select-box
        [items]= "clientes"
        displayExpr="nome"
        valueExpr="id">
      </dx-select-box>
    </div>
  </dxi-column>
  <dxi-column dataField="valorTotalNota" caption="Total da Nota"></dxi-column>
  <dxi-column dataField="itensNota" [visible]="false" editCellTemplate="itensNotaEditCellTemplate"></dxi-column>
  <div *dxTemplate="let data of 'itensNotaEditCellTemplate'">
    <dx-data-grid [dataSource]="data.value">
      <dxo-editing
        mode="row"
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
      ></dxo-editing>
      <dxi-column dataField="produto"  caption ="Produto" cellTemplate="produtoCellTemplate" editCellTemplate="produtoEditCellTemplate"></dxi-column>
      <div *dxTemplate="let data of 'produtoCellTemplate'">{{data.value.descricao}}</div>
      <div *dxTemplate="let data of 'produtoEditCellTemplate'">
        <dx-select-box
          [items]="produtosList"
          displayExpr="descricao"
          valueExpr="id">
        </dx-select-box>
      </div>
      <dxi-column dataField="quantidade" caption ="Quantidade" ></dxi-column>
      <dxi-column dataField="valor" caption ="Total Produto" format="R$ #,###,##0.00"></dxi-column>
    </dx-data-grid>
  </div>

</dx-data-grid>
